# Mac OS hidden files
.DS_Store
._*

# R history files
.Rhistory

# input files and directories
input/
data/
vcfs/
*.vcf*
*.tsv

# development and debugging directories
dev/
debug/
sandbox/
.mypy_cache/
